RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^home/$ pages/home.php
RewriteRule ^login/$ pages/login.php
RewriteRule ^logout/$ static/functions/auth/logout.php
RewriteRule ^register/$ pages/register.php
RewriteRule ^forgetpassword/$ pages/password_forget.php [L]
RewriteRule ^resetpassword/$ pages/password_reset.php [L]
RewriteRule ^template/$ pages/template.php
RewriteRule ^download/$ pages/download.php
RewriteRule ^download/(.*)$ pages/download.php?path=$1 [L]

RewriteRule ^post/$ pages/post.php
RewriteRule ^post/([0-9]+)$ pages/post.php?id=$1
RewriteRule ^post/create$ pages/post_edit.php
RewriteRule ^post/edit-([0-9]+)$ pages/post_edit.php?id=$1

RewriteRule ^category/(.*)-([0-9]+)-(.*)$ pages/post.php?category=$1&page=$2&tags=$3 [L]
RewriteRule ^category/(.*)-([0-9]+)$ pages/post.php?category=$1&page=$2

RewriteRule ^search/(.*)$ pages/search.php?search=$1 [L]

RewriteRule ^suggestion/$ pages/suggestion.php

RewriteRule ^profile/$ pages/profile.php
RewriteRule ^profile/([0-9]+)$ pages/userLoad.php?id=$1
RewriteRule ^saveProfile/$ pages/profile_save.php [L]
RewriteRule ^saveUser/([0-9]+)$ pages/user_save.php?id=$1 [L]
RewriteRule ^user/$ pages/user.php [L]
RewriteRule ^user/([0-9]+)$ pages/user.php?id=$1

RewriteRule ^guest/$ pages/post.php?viewas=guest [L]
RewriteRule ^staff/$ pages/post.php?viewas=staff [L]
RewriteRule ^dealer/$ pages/post.php?viewas=dealer [L]

Options +FollowSymlinks
Options +Indexes
IndexOptions +FancyIndexing
DirectoryIndex .index.php .index.html index.php index.html .redirect.html redirect.html landing.html landing.php .landing.html .landing.php .redirect.php redirect.php
